/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

#turnOnBtn {
  margin-right: 5px;
}

#brightnessOption {
  width: 100px;
  color: lightgray;
}

#brightnessOption:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: lightgray;
}

/* Default light gray button */
.btn-light-gray {
  background-color: #e0e0e0; /* Light gray */
  color: #333; /* Dark text */
  border: none;
}

.btn-light-gray:hover {
  background-color: #d6d6d6; /* Slightly darker gray for hover */
  color: #000; /* Darker text on hover */
}

/* Active dark gray button */
.btn-dark-gray {
  background-color: #555; /* Dark gray */
  color: #fff; /* White text */
  border: none;
}

.btn-dark-gray:hover {
  background-color: #444; /* Slightly darker gray for hover */
  color: #fff;
}

.custom-bg-stone {
  background-color: #a8a29e; /* stone-600 color in Tailwind */
  color: white;
}
