/* Default styling (for larger screens) */
.logo-img {
  top: 4px;
  right: 4px;
  position: absolute;
  width: 4rem; /* 16px */
  height: 4rem; /* 16px */
}

.text-4xl.font-bold.mb-4 {
  color: white;
}

/* For smaller screens */
@media (max-width: 768px) {
  .logo-img {
    top: 20%; /* Add custom space from the top */
    left: 50%; /* Position in the middle horizontally */
    transform: translate(
      -50%,
      0
    ); /* Center the image horizontally, but keep the top space */
    position: absolute; /* Ensure absolute positioning */
  }

  .text-4xl.font-bold.mb-4 {
    margin-top: 50px;
  }
}
